<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Music Venues Rated</title>
</head>
<body>
    <%- include('./nav'); -%>
    <div class="home-container">    
        <div class="bg-div"></div>
        <div class="heading-container"> 
            <h1 class="home-heading">music venues <i>honestly</i> rated.</h1>
            <div class="heading-inner-container">
                <form action="/" method="post" autocomplete="off" class="main-search-form">
                    <input name="venue" class="venue-search" type="search" placeholder="select a venue from the list..." list="venue-list"/>
                    <input type="submit" style="display: none" />
                </form>
                <h2>...or, leave a <a class="review-link" href="/create">review</a></h2>
            </div>
            <datalist id="venue-list">
                <% let allVenues = [] %>
                <% performers.forEach(details => { %>
                    <% if (allVenues.includes(details.venue)) { %>
                    <% } else { %>
                    <% allVenues.push(details.venue) %>
                    <option value="<%= details.venue %>"></option>
                    <% } %>
                <% }) %>
            </datalist>
        </div>
    </div>
</body>
</html>