<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Music Venues Rated</title>
</head>
<body>
    <%- include('./nav'); -%>
    <div class="contact-container">
        <div class="bg-div"></div>
        <h1>reviews for <%= venue %></h1>
        <% performers.forEach(details => { %>
        <% console.log(venue) %>
        <% if (details.venue == venue) { %>
        <div>
            <%= details %>
        </div>
        <% }}); %>
    </div>
</body>
</html>