<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Music Venues Rated</title>
</head>
<body>
    <%- include('./nav'); -%>
    <% var total = 0 %>
    <% var count = 0 %>
    <% performers.forEach(details => { %>
        <% if (details.venue == venue) { %>
        <% total = total + ((parseInt(details.communication) + parseInt(details.marketing) + parseInt(details.stage) + parseInt(details.management) + parseInt(details.equipment) + parseInt(details.engineer) + parseInt(details.loadin) + parseInt(details.timing) + parseInt(details.pay) + parseInt(details.reliability) + parseInt(details.discount)) / 11) %>
        <% count += 1 %>
    <% }}); %>
    <div class="main-review-container">
        <div class="review-container">
            <h1 class="venue-name"><%= venue %> - <%= (total / count).toFixed(1) %>&#127897</h1>
            <%- include('./reviews'); -%>
        </div>
    </div>
</body>
</html>