@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Nunito;
}
nav {
    background: rgb(102, 102, 255);
    color: white;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: solid 1px rgb(102, 102, 255);
}
.home-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
#nav-link-container {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* HOME STYLING */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#heading-container, .venue-spotlight {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    max-width: 600px;
}
#heading-container {
    opacity: 1;
    height: 80vh;
    justify-content: center;
    transition: opacity 0.1s;
}
.heading-inner-container {
    z-index: 10;
}
.home-heading {
    position: relative;
    color: black;
    font-size: 56px;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: left;
    line-height: 110%;
    padding-left: 10px;
}
.home-heading::before {
    content: '';
    position: absolute;
    top: 13%;
    left: 0px;
    width: 5px;
    height: 80%;
    background-color: rgb(102, 102, 255);
}
i {
    font-weight: 700;
}
.home-container form {
    display: flex;
    height: auto;
    align-items: center;
    margin: 45px 0px 10px 0px;
}
.venue-search {
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    border: solid 1px black;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
}
.venue-search::placeholder {
    color: rgba(255,255,255,0.6);
}
#heading-container h2 {
    color: black;
    font-size: 18px;
    font-weight: 300;
    text-align: right;
}
.review-link {
    font-size: 18px;
    font-weight: 300;
    text-align: right;
    color: rgb(102, 102, 255);
}
.home-submit {
    margin-left: 10px;
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: solid 1px black;
    background: none;
    color: white;
    font-size: 1em;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.3s ease;
}
.home-submit:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(30,30,30);
}


/* CONTACT STYLES */

.contact-container {
    position: absolute;
    top: 0;
    left: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 100vh;
    color: white;
    font-size: 1.8em;
}


/* CREATE REVIEW PAGE STYLES */

.create-container {
    height: 100vh;
    width: 100vw;
    padding: 0 10px;
    color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px); /* Fix for scrolling; without this you cannot scroll when pointer is anywhere but over an input */
    z-index: 1;
}

.create-review {
    margin-top: 44px;
    z-index: 12;
}
.create-container p,
.create-container i {
    opacity: 0.7;
    font-weight: 200;
}
#create-top-p {
    margin-top: 10px;
}
.create-input {
    position: relative;
    background-color: rgba(30,30,30,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    border-radius: 5px;
    padding: 8px;
    border: solid 1px #ff3f81;
    max-width: 1000px;
    width: 95vw;
    margin: 10px 0px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
input[type=text] {
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    border: none;
    margin-bottom: 7px;
    -webkit-appearance: none;
    border-radius: 5px;
    border: solid 1px #ff3f81;
    background-color: rgba(30,30,30);
    color: rgba(255,255,255,0.9);
    font-size: 1.2em;
    letter-spacing: 2px;
}
.slider {
    display: flex;
    width: 100%;
}
input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    margin-bottom: 8px;
    width: 90%;
    background: rgba(30,30,30);
    border-radius: 5px;
    border: solid 1px #ff3f81;
    z-index: 10;
}
output {
    width: 10%;
    height: 32px;
    border-radius: 5px;
    border: solid 1px #ff3f81;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 8px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: none;
    background-color: #ff3f81;
}
.create-submit {
    color: white;
    font-size: 1.5em;
    width: 100%;
    height: 50px;
    background-color: rgba(30,30,30,0.5);
    border: solid 1px #ff3f81;
    border-radius: 5px;
    z-index: 10;
    margin: 10px 0px 50px 0px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    appearance: none;
    -webkit-appearance: none;
    transition: 0.3s ease;
}
.create-submit:hover {
    background: black;
    cursor: pointer;
}

label {
    text-align: left;
    width: 100%;
    margin: 5px 0px;
    z-index: 10;
    color: rgba(255,255,255,0.8);
    font-size: 1.2em;
}


/* REVIEWS STYLING */

.main-review-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 44px 0px 20px 0px;
    height: 100vh;
    overflow-y: scroll;
}
.main-review-container h2, .venue-name {
    font-size: 1.5em;
    color: white;
    z-index: 1;
    margin: 5px;
}
.review-container {
    width: 100vw;
    display: grid;
    grid-template-columns:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 15px;
    color: white;
    padding: 0px 20px;
    z-index: 1;
}
@media only screen and (max-width: 1100px) {
    .review-container {
        width: 100vw;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 15px;
        color: white;
        z-index: 1;
    }
}
.main-review {
    width: auto;
    height: auto;
    z-index: 1;
    background-color: rgba(30,30,30,0.2);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    border: solid 1px #ff3f81;
}
.review-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 5px;
    /* background-color: #E8D5B5;
    background: url('../img/low-poly-grid-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover; */
    padding: 10px;
}
.grid-item {
    display: flex;
}
.venue-name {
    color: white;
    font-size: 1.5em;
}
.main-review h1 {
    padding: 10px;
    color: white;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    position: relative;
    border-bottom: solid 1px #ff3f81;
    overflow-y: scroll;
    max-height: 200px;
}
span {
    font-style: normal;
    font-weight: 800;
}
.review-grid h3 {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}
.review-grid p {
    text-align: center;
    color: white;
    font-size: 1em;
}





@media only screen and (max-width: 720px) {

body {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Nunito';
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* background-color: rgb(61,96,148); */
    background-color: white;
}


/* HOME SECTION STYLING */

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
#heading-container {
    margin-top: 30px;
}
#heading-container, .venue-spotlight {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}
.heading-inner-container {
    z-index: 10;
}
.home-heading {
    position: relative;
    color: black;
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: left;
    line-height: 110%;
    padding-left: 10px;
}
.home-heading::before {
    content: '';
    position: absolute;
    top: 13%;
    left: 0px;
    width: 3px;
    height: 80%;
    background-color: rgb(102, 102, 255);
}
.home-link {
    color: white;
}
i {
    font-weight: 700;
}
.home-container form {
    display: flex;
    height: auto;
    align-items: center;
    margin: 45px 0px 10px 0px;
}
.venue-search {
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: solid 1px rgb(102, 102, 255);
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 12px;
    letter-spacing: auto;
}
.venue-search::placeholder {
    color: rgba(0,0,0,0.5);
}
#heading-container h2 {
    color: black;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
}
.review-link {
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    color: rgb(102, 102, 255);
}
.home-submit {
    margin-left: 10px;
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: rgb(102, 102, 255);
    color: white;
    font-size: 1em;
}


/* CONTACT STYLES */

.contact-container {
    position: absolute;
    top: 0;
    left: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 82vh;
    color: black;
    font-size: 1.5em;
}




/* CREATE REVIEW PAGE STYLES */

.create-container {
    height: 81vh;
    margin-top: 44px;
    padding: 10px;
    color: white;
    overflow-y: scroll;
    background: rgba(0,0,0,0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px); /* Fix for scrolling; without this you cannot scroll when pointer is anywhere but over an input */
    z-index: 10;
}

.create-review {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 0;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 12;
    color: black;
    border: none;
    border-radius: 5px;
}
.create-container p,
.create-container i {
    color: black;
    opacity: 0.7;
    font-weight: 200;
}
#create-top-p {
    margin-top: 10px;
}
.create-input {
    position: relative;
    background-color: rgba(255,255,255,0);
    /* border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    border-radius: 0px;
    padding: 0px;
    border: none;
    width: 100%;
    margin: 10px 0 25px 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    /* box-shadow: 0px 2px 10px rgba(0,0,0,0.2); */
    box-shadow: none;
}
input[type=text] {
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    border: none;
    margin-bottom: 7px;
    -webkit-appearance: none;
    border-radius: 5px;
    border: solid 1px rgb(102, 102, 255);
    background-color: white;
    color: black;
    font-size: 12px;
    letter-spacing: auto;
}
.slider {
    display: flex;
    width: 100%;
}
input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    width: 90%;
    background: white;
    border-radius: 5px;
    border: solid 1px rgb(102, 102, 255);
    z-index: 10;
}
output {
    width: 10%;
    height: 32px;
    background: white;
    border-radius: 5px;
    border: solid 1px rgb(102, 102, 255);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 8px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: none;
    background-color: rgb(102, 102, 255);
}
.create-submit {
    color: white;
    font-size: 1.5em;
    width: 100%;
    height: 50px;
    background-color: rgb(102, 102, 255);
    border: solid 1px rgb(102, 102, 255);
    z-index: 10;
    margin: 10px 8px;
    appearance: none;
    -webkit-appearance: none;
}

label {
    text-align: left;
    width: 100%;
    margin: 0px;
    z-index: 10;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}





/* REVIEWS STYLING */

.review-container {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: black;
    margin-top: 0px;
    height: 81vh;
    overflow-y: scroll;
    z-index: 1;
}
.review-container h2 {
    font-size: 1.5em;
    color: black;
}
.main-review {
    width: 95vw;
    height: auto;
    margin: 0px 0px 50px 0px;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    box-shadow: none;
    border: solid 1px rgb(102, 102, 255);
}
.review-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 5px;
    /* background-color: #E8D5B5;
    background: url('../img/low-poly-grid-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover; */
    padding: 10px;
}
.grid-item {
    display: flex;
}
.venue-name {
    color: black;
    padding-top: 0px;
    margin-top: 20px;
    font-size: 1.5em;
}
.main-review h1 {
    padding: 10px;
    color: black;
    font-size: 1em;
    font-weight: 400;
    overflow-y: scroll;
    max-height: 150px;
    font-style: italic;
    position: relative;
    border-bottom: solid 1px rgb(102, 102, 255);
}
span {
    font-style: normal;
    font-weight: 800;
}
.review-grid h3 {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}
.review-grid p {
    text-align: center;
    color: black;
    font-size: .85em;
}
}